body{
    background-image: url(../img/pattern.png);
    margin: 0px;
}

nav{
    image-resolution: url(../img/laravel.png);
    margin: 50px;
}

nav{
    background-color: grey;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
}

ul{
    list-style: none;
    text-align: start;
}

li{
    margin: 5px;
    display: inline;
}

a{
    text-decoration: none;
}

section{
    background-color: rgba(240, 255, 255, 0.932);
    margin: 80px 150px 30px;
    padding: 20px;
}

article{
    border-bottom: 2px solid black;
    margin: 20px;
}

h4{
    text-align: center;
}

.penutup{
    background-color: black;
    padding: 5px;
}

h5{
    color: white;
    text-align: center;
}